doctype html
html(amp lang="en")
	include templates/head

	body#top-scroll
		div.overlay-bg
	
		include templates/header
		div.wrapper(style="background: url('img/bg-2.png')")
			div.content
				section#about-us
					.container
						div.about-us
							.row
								.col-xs-12
									h2 О НАС
									p.info Jiwa (Джива) в переводе с индонезийского означает «Душа».
									p.description В создании данного магазина моей целью было обьединить наилучшую натуральную косметику, местом производства которой является провинция Бали. Каждый из основателей представленных брендов вкладывает в своё дитя душу и любовь, непосредственно контролирует качество своей продукции. Это любовь и забота, которой я хочу поделиться с Вами, ознакомив с косметикой, произведённой исключительно из натуральных компонентов.
									h3#BaliBalance Bali Balance
									.about-us-img(style="background: url('img/img-1.jpg')")
										
									p.description Bali Balance предлагает нам полную линейку натуральных продуктов, содержащих все необходимые ингредиенты растений о.Бали, отобранных вручную для обеспечения высокого качества. Сотрудничают с местными фермерами в создании продукции для того, чтобы отдать должное красивому райскому острову. 
									p.description На протяжении веков жители острова используют чистое натуральное кокосовое масло, цветочные экстракты, эфирные масла и травы, которые питают, увлажняют и украшают кожу, волосы и тело. Только лучшие качественные ингредиенты используются в каждом продукте Bali Balance.   Продукция идеально подходит для взрослых любого типа кожи, а также детям.
									p.description Bali Balance использует кокосовое масло первого отжима, из свежих кокосов, используя специальный холодный процесс, который сохраняет естественные питательные вещества и роскошный аромат, вкус и непревзойденное качество. 
									p.description Команда Bali Balance отбирает все ингредиенты и постоянно анализирует процессы и стандарты качества, помогая многим местным семьям жить и работать в соответствии со своими традиционными методами.
									a.btn(href="brand.html") Купить
									h3 Bali Radiance
									.about-us-img(style="background: url('img/img-2.jpg')")
									p.description Создатель Bali Radiance следует экологичным стандартам и закупает цветы напрямую от фермеров стран третьего мира по справедливым рыночным ценам. Требуется 1000 кг цветочных лепестков, чтобы создать всего 1 грамм эфирного масла. Чистые эфирные масла Bali Radiance, не содержащие единого химического вещества, дают успокаивающий эффект, омолаживают, балансируют, заряжают энергией и приносят ощущение гармонии, не давая вам никаких аллергических реакций на коже.
									a.btn(href="brand.html") Купить
			figure#scroll-top
				a.slowly(href="#header" data-scroll)
					i.fa.fa-chevron-up
			include templates/footer