doctype html
html(amp lang="en")
	include templates/head
	body#top-scroll
		div.overlay-bg
		include templates/header
		div.wrapper
			section#brand

				.container
					.row
						.col-xs-12
							img.brand-logo(src="img/logoBaliBalance.png" alt="Bali Balance")
						.col-xs-12
							a.btn(href="about-us.html#BaliBalance") Узнать больше
				
					
				
					.row

						.col-xs-12.col-sm-6.col-md-4.col-lg-4
							div.brand-block
								div.brand-img
									a.description.add(href="#description" data-brand='Кокосовое масло, 265мл' data-popup="true")
										img.brand-im(src="img/bali-balance/prod-2.png")
								p.brad-title Кокосовое масло, 265мл, 420 UAH
								div.brand-action
									div.wrap
										i.fa.fa-heart
										a.add(href="#add-to-basket") #[i.fa.fa-shopping-bag]
										a.ask(href="#ask-question") #[i.fa.fa-question]
						.col-xs-12.col-sm-6.col-md-4.col-lg-4.sm
							div.brand-block
								div.brand-img
									a.description.add(href="#description" data-brand='Масло для лица, 35мл' data-popup="true")
										img.brand-im(src="img/bali-balance/prod-2.png")
								p.brad-title Масло для лица, 35мл, 420 UAH
								div.brand-action
									div.wrap
										i.fa.fa-heart
										a.add(href="#add-to-basket") #[i.fa.fa-shopping-bag]
										a.ask(href="#ask-question") #[i.fa.fa-question]
						.col-xs-12.col-sm-6.col-md-4.col-lg-4.sm
							div.brand-block
								div.brand-img
									a.description.add(href="#description" data-brand='Кокосовое масло, 265мл' data-popup="true")
										img.brand-im(src="img/bali-balance/prod-2.png")
								p.brad-title Кокосовое масло, 265мл, 420 UAH
								div.brand-action
									div.wrap
										i.fa.fa-heart
										a.add(href="#add-to-basket") #[i.fa.fa-shopping-bag]
										a.ask(href="#ask-question") #[i.fa.fa-question]
						.col-xs-12.col-sm-6.col-md-4.col-lg-4.s
							div.brand-block
								div.brand-img
									a.description.add(href="#description" data-brand='Масло для лица, 35мл' data-popup="true")
										img.brand-im(src="img/bali-balance/prod-2.png")
								p.brad-title Масло для лица, 35мл, 420 UAH
								div.brand-action
									div.wrap
										i.fa.fa-heart
										a.add(href="#add-to-basket") #[i.fa.fa-shopping-bag]
										a.ask(href="#ask-question") #[i.fa.fa-question]
						.col-xs-12.col-sm-6.col-md-4.col-lg-4.sm
							div.brand-block
								div.brand-img
									a.description.add(href="#description" data-brand='Кокосовое масло, 265мл' data-popup="true")
										img.brand-im(src="img/bali-balance/prod-1.png")
								p.brad-title Кокосовое масло, 265мл, 420 UAH
								div.brand-action
									div.wrap
										i.fa.fa-heart
										a.add(href="#add-to-basket") #[i.fa.fa-shopping-bag]
										a.ask(href="#ask-question") #[i.fa.fa-question]
						.col-xs-12.col-sm-6.col-md-4.col-lg-4.sm
							div.brand-block
								div.brand-img
									a.description.add(href="#description" data-brand='Кокосовое масло, 265мл' data-popup="true")
										img.brand-im(src="img/bali-balance/prod-1.png")
								p.brad-title Кокосовое масло, 265мл, 420 UAH
								div.brand-action
									div.wrap
										i.fa.fa-heart
										a.add(href="#add-to-basket") #[i.fa.fa-shopping-bag]
										a.ask(href="#ask-question") #[i.fa.fa-question]
					

					.row
						.col-xs-12
							#pagination
								ul
									li
										i.fa.fa-chevron-left
									li
										span.page 1
									li
										span.page 2
									li
										span.page 3
									li
										span.page ...
									li
										span.page 10
									li
										i.fa.fa-chevron-right
							
					

							
		div.description-popup
			
			div.img
				img(src='img/bali-balance/prod-1.png' alt='E-mail')
			div.content
				div.inf
					p.brand-name Масло для лица, 35мл
					p.price.blue 420 UAH
				div.inf
					price-info
						div.amount-block
							span.change.sign.min #[span -]
							span.amount 1
							span.change.sign.plu #[span +]
						a.btn.add.out(href="#add-to-basket") ДОБАВИТЬ В КОРЗИНУ
						div.brand-action
							
				// p.block-desc This is Photoshops version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ips
				div.inf.lim
					p.desc This is Photoshops version  of Lorem Ipsum. This is Photoshops version  of Lorem Ipsum. This is Photoshops version  of Lorem Ipsum. This is Photoshops version  of Lorem Ipsum. This is Photoshops version  of Lorem Ipsum. This is Photoshops version  of Lorem Ipsum. This is Photoshops version  of Lorem Ipsum. This is Photoshops version  of Lorem Ipsum. This is Photoshops version  of Lorem Ipsum.This is Photoshops version  of Lorem Ipsum.This is Photoshops version  of Lorem Ipsum.This is Photoshops version  of Lorem Ipsum.
				span.close &times;
		div.ask-question
			
			p.blue-p ЗАДАТЬ ВОПРОС
			span.close &times;
			form.ask-form

				.row
					.col-xs-12.col-md-6
						div.input-group
							label(required) Имя*
							input(type="text")
					.col-xs-12.col-md-6
						div.input-group
							label(required) Тема*
							input(type="text")
					.col-xs-12.col-md-6
						div.input-group
							label(required) CAPTCHA*
							div.g-recaptcha(data-sitekey="")
							div.text-danger#recaptchaError
					.col-xs-12.col-md-6
						div.input-group
							label(required) Сообщение*
							textarea(type="text")
				.row
					.col-xs-12
						a.btn.send(href="#send-message") Отправить
		div#add-to-basket
			
			p Товар успешно добавлен в Корзину.
			span.close &times;
			div.btn-block
				a.btn(href="basket.html")  Перейти в корзину
				a.btn(href="category.html") Продолжить покупки
		div#send-message
			p Сообщение отправлено.
			span.close &times;
		div.popup
				p.blue-p ВХОД В ВАШ АККАУНТ
				form.my-form
					div.input-group
						input(placeholder="E-mail" type="email" required)
						img.popup-icon(src='img/env.png' alt='E-mail')
					div.input-group
						input(placeholder="Пароль" type="password" required)
						img.popup-icon(src='img/lock.png' alt='Пароль')
					input.button(type="submit", value="ВОЙТИ" )
					input.button(type="submit", value="ЗАРЕГИСТРИРОВАТЬСЯ" )
					a.add(href="#popup-forget") Забыли пароль?
			
		div.popup-reg
			p.blue-p РЕГИСТРАЦИЯ
			form.my-form
				div.input-group
					input(placeholder="Имя:" type="text" required)
					img.popup-icon(src='img/user.png' alt='Имя')
				div.input-group
					input(placeholder="E-mail:" type="email" required)
					img.popup-icon(src='img/env.png' alt='E-mail')
				div.input-group
					input(placeholder="Пароль:" type="password" required)
					img.popup-icon(src='img/lock.png' alt='Пароль')
				div.input-group
					input(placeholder="Адрес:" type="text" required)
					img.popup-icon(src='img/adr.png' alt='Адрес')
				div.input-group
					input(placeholder="Телефон:" type="tel" required)
					img.popup-icon(src='img/tel.ico' alt='Телефон')
				input.button(type="submit", value="ЗАРЕГИСТРИРОВАТЬСЯ" )
		figure#scroll-top
			a.slowly(href="#header" data-scroll)
				i.fa.fa-chevron-up
		include templates/footer