footer.footer
	div.footer__top-block
		.container
			.row
				.col-xs-12.col-sm-6.col-md-3
					ul.footer-menu
						li.footer-menu__item.title ИНТЕРНЕТ-МАГАЗИН
						li.footer-menu__item
							a(href="payment.html") Доставка и Оплата
				.col-xs-12.col-sm-6.col-md-3
					ul.footer-menu
						li.footer-menu__item.title БРЕНДЫ
						li.footer-menu__item
							a(href="brand.html") Bali Balance
						li.footer-menu__item
							a(href="brand.html") Bali Radiance
						li.footer-menu__item
							a(href="brand.html") Virgin Coconut Oil
				.col-xs-12.col-sm-6.col-md-3
					ul.footer-menu
						li.footer-menu__item.title КОНТАКТЫ
						li.footer-menu__item
							a(href="tel:+380689403210") 068 940 32 10
						li.footer-menu__item
							a(href="tel:+3800934201012") 093 420 10 12
						li.footer-menu__item
							a(href="mailto:jiwacintabali2017@gmail.com") jiwacintabali2017@gmail.com
				.col-xs-12.col-sm-6.col-md-3
					ul.footer-menu
						li.footer-menu__item.title СЛЕДИТЕ ЗА НАМИ
						li.footer-menu__item.social-links
							a(href="")
								i.fa.fa-facebook
						li.footer-menu__item.social-links
							a(href="")
								i.fa.fa-instagram
	div.copyright
		.container
			.row
				.col-xs-12
					p Все права защищены © Jiwa, 2017

	script(src="https://code.jquery.com/jquery-2.2.4.min.js")
	script(src="js/owl.carousel.min.js")
	script(src="js/slow-scroll.min.js")

	script(src="https://www.google.com/recaptcha/api.js")
	script(src="js/app.js")